#comunidade{
    position: absolute;
    width: 1440px;
    height: 1069px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
}

#comunidade h5{
    position: absolute;
    width: 135px;
    height: 18px;
    left: 653px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #217BF4;
}

#comunidade h1{
    position: absolute;
    width: 441px;
    height: 36px;
    left: 500px;
    top: 87px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #0A093D;
}

#comunidade p{
    position: absolute;
    width: 421px;
    height: 56px;
    left: 509px;
    top: 142px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    text-align: center;

    color: #656464;
}

#card6{
    position: absolute;
    width: 522px;
    height: 182px;
    left: 176px;
    top: 262px;
    
    background: #FFFFFF;
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
    border-radius: 14px;
}

#card6 img{
    position: fixed;
    left: 216px;
    top: 302px;
}

#card6 h2{
    position: fixed;
    width: 209px;
    height: 26px;
    left: 318px;
    top: 308px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;

    color: #2F2C4A;
}

#card6 p{
    position: fixed;
    width: 315px;
    height: 52px;
    left: 318px;
    top: 348px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #656464;
}

#card5{
    position: absolute;
    width: 522px;
    height: 182px;
    left: 176px;
    top: 488px;

    background: #FFFFFF;
    border-radius: 14px;
}

#card4{
    position: absolute;
    width: 522px;
    height: 182px;
    left: 176px;
    top: 714px;

    background: #FFFFFF;
    border-radius: 14px;
}

#card3{
    position: absolute;
    width: 522px;
    height: 182px;
    left: 742px;
    top: 262px;

    background: #FFFFFF;
    border-radius: 14px;
}

#card2{
    position: absolute;
    width: 522px;
    height: 182px;
    left: 742px;
    top: 488px;

    background: #FFFFFF;
    border-radius: 14px;
}

#card1{
    position: absolute;
    width: 522px;
    height: 182px;
    left: 742px;
    top: 714px;

    background: #FFFFFF;
    border-radius: 14px;
}
