#publica{
    display: flex;
    background-color:#E5F0FD;
    padding: 130px;
}

.paragrafo{
    color: var(--azul-claro);
    font-size: 20px;
}

.titulo{
    color: var(--azul-escuro);
    font-size: 40px;
    margin-right: 350px;
}

.paragrafo2{
    color: var(--cinza-claro);
    font-size: 20px;
    margin-right:    350px;

}

.quadrados{
    
}